## Introdução ao Pandas 

**Autor:** *Yuri Melo*

In [1]:
#importando a biblioteca
import pandas as pd

In [2]:
#importando dados
df = pd.read_csv("C:/Users/meloy/Documents/PROJETOS_GIT/python-ds/PYTHON-DS/desafio-projeto1/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

In [3]:
#visualizando os dados
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
#modificando as colunas
df = df.rename(columns={"country":"Pais", "continent":"Continente", "year":"Ano", "lifeExp":"Expectativa", "pop":"Populacao", "gdpPercap":"Renda Percapita"})

In [6]:
#exibindo novamente
df.head(10)

          Pais Continente   Ano  Expectativa  Populacao  Renda Percapita
0  Afghanistan       Asia  1952       28.801    8425333       779.445314
1  Afghanistan       Asia  1957       30.332    9240934       820.853030
2  Afghanistan       Asia  1962       31.997   10267083       853.100710
3  Afghanistan       Asia  1967       34.020   11537966       836.197138
4  Afghanistan       Asia  1972       36.088   13079460       739.981106
5  Afghanistan       Asia  1977       38.438   14880372       786.113360
6  Afghanistan       Asia  1982       39.854   12881816       978.011439
7  Afghanistan       Asia  1987       40.822   13867957       852.395945
8  Afghanistan       Asia  1992       41.674   16317921       649.341395
9  Afghanistan       Asia  1997       41.763   22227415       635.341351

In [7]:
#quantidade linhas e colunas
df.shape

(3312, 6)

In [8]:
#consultando quais colunas existem
df.columns

Index(['Pais', 'Continente', 'Ano', 'Expectativa', 'Populacao',
       'Renda Percapita'],
      dtype='object')

In [9]:
#consultando tipo de dados das colunas
df.dtypes

Pais                object
Continente          object
Ano                  int64
Expectativa        float64
Populacao            int64
Renda Percapita    float64
dtype: object

In [11]:
#consultando ultimas linhas
df.tail()

          Pais Continente   Ano  Expectativa  Populacao  Renda Percapita
3307  Zimbabwe     Africa  1987       62.351    9216418       706.157306
3308  Zimbabwe     Africa  1992       60.377   10704340       693.420786
3309  Zimbabwe     Africa  1997       46.809   11404948       792.449960
3310  Zimbabwe     Africa  2002       39.989   11926563       672.038623
3311  Zimbabwe     Africa  2007       43.487   12311143       469.709298

In [13]:
#consultando quais continentes temos disonivel
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [15]:
#consultando dados do continente oceania
Oceania = df.loc[df["Continente"] == "Oceania"]
Oceania.head()

     Pais Continente   Ano  Expectativa  Populacao  Renda Percapita
975  Fiji    Oceania  1962       56.494     421869      2039.393277
976  Fiji    Oceania  1967       58.607     485000      2170.073285
977  Fiji    Oceania  1972       60.642     544000      2797.759484
978  Fiji    Oceania  1977       62.669     599339      3182.569600
979  Fiji    Oceania  1982       64.683     658906      3209.257468

In [16]:
#consultando quantidade de paises por continente
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64